.warning-span{
    color: red;
    font-size: 14px;
    margin-right: 10px;
}

.small-num{
    font-size: 12px;
    margin: -22px 0px 0px -8px;
}

.ignore-time{
    width:60px;
    margin-left:5px;
    margin-right:10px;
}

.strBindPointName{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: inline-block;
    width: 180px;
}