.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.btn{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1111
}

.toolbox {
  position: absolute;
  right: 8px;
  top: 4px;
  z-index: 3;
}

.observer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; 
}
