.menuItem:hover .btnCopy{
    visibility:visible;
}
.btnCopy{
  visibility: hidden;
  position: absolute;
  right: 5px;
  top:2px;
}

.menuItem:hover .btnPlay{
  visibility:visible;
}
.btnPlay{
visibility: hidden;
position: absolute;
right: 30px;
color: #0cf70c;
top:2px;
}

.menuItem:hover .btnPause{
  visibility:visible;
}
.btnPause{
visibility: hidden;
position: absolute;
right: 30px;
color: red;
top:2px;
}

.inner-container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.left-sider {
  width: 248px;
  height: 85%;
  overflow-y: auto;
  background: #16191C;
  position: relative;
}

.sider-header {
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid #1F2429;
}

.sider-footer {
  position: absolute;
  left: 0px;
  bottom: 2px;
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-top: 1px solid #1F2429;
}

.content {
  position: absolute;
  left: 248px;
  right: 0;
  bottom: 0;
  top: 0;
}
.chart-container-wrap {
    margin-right: 20px;
    height: 100%;
}

.scriptRule .ant-menu-submenu-title, .ant-menu:not(.ant-menu-horizontal) .ant-menu-item {
  background-color: #ddd!important  
}