.isChose{
    background-color: #4B59B2 ;
}
.unChose {
    background-color: #273142
}
.warning-type{
    color: #EC931E;
}
.warning-config {
    color :#2D9BEC;
}
.warning-group{
    color : #7B8A9E;
}