.container{
    position: absolute;
    color: #ffffff;
    background-color: rgb(27,36,49);
    z-index: 2;
}

.container-table{
    width:100%;
}

.table-title{
    margin-top:5px;
    text-align:center;
}

.table-text{
    margin-left:10px;
    margin-top:-8px;
    font-size:14px;
}

.table-faultNumber{
    display:inline-block;
    font-size:24px;
}