.container{
    position: absolute;
    color: #ffffff;
    background-color: rgb(27,36,49);
    z-index: 2;
}

.container2{
    width:100%;
}

.header{
    padding: 20px 20px;
    width: 70%;
    border-right: 1px solid rgb(27,44,73);
}

.table-content{
    width: 70%;
}

.no{
    text-align: center
}

.pie-content{
    width:500px;
    height:300px;
}